
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.listedTest {
    color: brown;
}

.nav-bar {
    background-color: blue;
    padding: 10px;
    display: flex;
}

.left-nav-bar {
    display: flex;
}

.right-nav-bar {
    display: flex;
}

.all-recipes {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

ul {
    padding: 20px;
    margin: 5px;
    list-style: none;
}

.adobo {
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    height: auto;
    width: 120px;
    text-align: center;
}

.adobo:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.lumpia {
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    height: auto;
    width: 120px;
    text-align: center;
}

.lumpia:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Flexbox-Testing */
.flexbox-container {
    background-color: bisque;
    display: flex;
    padding: 10px;
}

.flexbox-title {
    text-align: center;
}

.flexbox-container div {
    border: 1px solid black;
    height: 100px;
    padding: 8px;
    margin: 11px;
    flex: 1;
}

.flexbox-container .box3-1 {
    border: 1px solid black;
    height: auto;
    width: auto;
}