
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.listedTest {
    color: brown;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
}
.nav-bar {
    background-color: blue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left-nav-bar {
    display: flex;
}

.right-nav-bar {
    display: flex;
}

/* body */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.all-recipes {
    display: flex;
    justify-content: flex-start;
}

ul {
    padding: 20px;
    margin: 5px;
    list-style: none;
}

a {
    display: flex;
    border: 1px solid black;
    margin: 8px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    background-color: rgba(1, 1, 1, 0.3);
}

/* Flexbox-Testing */
.flexbox-container {
    background-color: bisque;
    display: flex;
    padding: 10px;
}

.flexbox-title {
    text-align: center;
}

.flexbox-container div {
    border: 1px solid black;
    height: 100px;
    padding: 8px;
    margin: 11px;
    flex: 1;
}

.flexbox-container .box3-1 {
    border: 1px solid black;
    height: auto;
    width: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}